doctype html
block vars
html
    head
        meta(http-equiv='Content-Type', content='text/html', charset='utf-8')

        link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
        link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css")
        if(page && page.indexOf('api/') === 0)
            link(rel="stylesheet", href="../css/trackr.css")
        else
            link(rel="stylesheet", href="css/trackr.css")

        link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        if(title)
            title= title
        else
            title trackr API documentation

    body
        div#menu
            include menu
        div#content
            header
                div API Documentation
            .pure-g
                .pure-u-1.pure-u-lg-1-24
                .pure-u-1.pure-u-lg-5-6
                    block content
                .pure-u-1.pure-u-lg-3-24