header
    h1 trackr

.pure-menu.pure-menu-open
    a(href="getting_started.html").pure-menu-heading Getting started
    ul
        li(class=page === 'starting_server' ? 'pure-menu-selected' : undefined)
            a(href="starting_server.html") Starting the application
        li(class=page === 'security' ? 'pure-menu-selected' : undefined)
            a(href="security.html") Accessing the application