extends ../base/layout
block vars
    - var page = 'api/companies'
block content
    h1 /companies
    p A company is a holder of projects or a debitor for projects.
    .pure-g
        .pure-u-1.pure-u-lg-3-5
            h2#endpoints Endpoints
            table.pure-table.pure-table-bordered
                thead
                    tr
                        th Method
                        th Path
                tbody
                    tr
                        td GET
                        td
                            a(href="#get_root") /
                    tr
                        td GET
                        td
                            a(href="#get_one") /{id}
                    tr
                        td GET
                        td
                            a(href="#findByCompanyId") /search/findByCompanyId
                    tr
                        td GET
                        td
                            a(href="#findByNameLikeIgnoreCaseOrderByNameAsc") /search/findByNameLikeIgnoreCaseOrderByNameAsc
                    tr
                        td POST
                        td
                            a(href="#post") /
                    tr
                        td POST
                        td
                            a(href="#post_with_address") /createWithAddress
                    tr
                        td PUT
                        td
                            a(href="#put") /{id}
                    tr
                        td DELETE
                        td
                            a(href="#delete") /{id}
            h2 Projections
            table.pure-table
                thead
                    tr
                        th Name
                        th Description
                tbody
                    tr
                        td withAddressAndContactPersons
                        td Contains the address and contact persons.
        .pure-u-1.pure-u-lg-2-5
            h2 Structure
            table.pure-table.pure-table-bordered
                thead
                    tr
                        th Fieldname
                        th Fieldtype
                        th Validations
                tbody
                    tr
                        td id
                        td Long
                        td
                    tr
                        td version
                        td Integer
                        td
                    tr
                        td companyId
                        td Long
                        td > 0, unique, not null
                    tr
                        td name
                        td String
                        td not empty
                    tr
                        td
                            a(href="api_overview.html#links") Links
                        td(colspan=2) Security
                    tr
                        td
                            a(href="addresses.html") address
                        td(colspan=2) deletable, updateable by ROLE_SUPERVISOR
                    tr
                        td
                            a(href="contact_persons.html") contactPersons
                        td(colspan=2) deletable, updateable by ROLE_SUPERVISOR
                    tr
                        td
                            a(href="projects.html") projects
                        td(colspan=2) deletable, updateable by ROLE_SUPERVISOR

    h2#get_root GET /
        a.back-to-top(href="#endpoints") &#9650;
    p Get all companies
    h4 Parameters
    b
        a(href="api_overview.html#pageable") pageable
    h4 Returns
    p A page of companies.
    hr

    h2#get_one GET /{id}
        a.back-to-top(href="#endpoints") &#9650;
    p Get a single company time by its id.
    h4 Returns
    p One company

    hr

    h2#findByCompanyId GET /search/findByCompanyId
        a.back-to-top(href="#endpoints") &#9650;
    p Find companies by their id.
    p
        b Note
        |  This method is meant to return one single company but as of now returns a list.
    h4 Returns
    p A list of companies.
    h4 Parameters
    table.pure-table.pure-table-bordered
        thead
            tr
                th name
                th type
                th required
                th description
        tbody
            tr
                td companyId
                td Long
                td true
                td The company id to query for.

    hr

    h2#findByNameLikeIgnoreCaseOrderByNameAsc GET /search/findByNameLikeIgnoreCaseOrderByNameAsc
        a.back-to-top(href="#endpoints") &#9650;
    p Find companies by searching for a name.
    h4 Returns
    p A list of companies.
    h4 Parameters
    table.pure-table.pure-table-bordered
        thead
            tr
                th name
                th type
                th required
                th description
        tbody
            tr
                td name
                td String
                td true
                td The name to search for. Wildcards are %.

    hr

    h2#post POST /
        a.back-to-top(href="#endpoints") &#9650;
    p Create a new company. Returns the created object.
    p
        b(style="color: red") Note
        |  Since the address on a company can not be null it's not possible to create a company with this method.
        | Use <a href="#post_with_address">/createWithAddress</a> instead.
    .pure-g
        .pure-u-1.pure-u-md-1-2
            h4 Security
            p ROLE_ADMIN
        .pure-u-1.pure-u-md-1-2
            h4 Returns
            p A single company.

    hr

    h2#post_with_address POST /createWithAddress
        a.back-to-top(href="#endpoints") &#9650;
    p Create a new company together with an address.
    .pure-g
        .pure-u-1.pure-u-md-1-2
            h4 Security
            p ROLE_ADMIN
        .pure-u-1.pure-u-md-1-2
            h4 Returns
            p A single company
    h4 Parameters
    p The request body must contain an object consisting of a valid <a href="companies.html">company</a> and <a href="addresses.html">address</a>.
    pre.
        {
            "company": { "companyId": ...},
            "address": { "street": ...}
        }

    hr

    h2#put PUT /{id}
        a.back-to-top(href="#endpoints") &#9650;
    p Update the company identified by id. Returns the updated object.
    .pure-g
        .pure-u-1.pure-u-md-1-2
            h4 Security
            p ROLE_ADMIN
        .pure-u-1.pure-u-md-1-2
            h4 Returns
            p A single company

    hr

    h2#delete DELETE /{id}
        a.back-to-top(href="#endpoints") &#9650;
    p Delete a the company identified by id.
    .pure-g
        .pure-u-1.pure-u-md-1-2
            h4 Security
            p ROLE_ADMIN
        .pure-u-1.pure-u-md-1-2
            h4 Returns
            p Nothing.