extends ../base/layout
block vars
    - var page = 'api/contact_persons'
block content
    h1 /contact_persons
    p Contact persons belong to a company.
    .pure-g
        .pure-u-1.pure-u-lg-2-5
            h2#endpoints Endpoints
            table.pure-table.pure-table-bordered
                thead
                    tr
                        th Method
                        th Path
                tbody
                    tr
                        td GET
                        td
                            a(href="#get_root") /
                    tr
                        td GET
                        td
                            a(href="#get_one") /{id}
                    tr
                        td POST
                        td
                            a(href="#post") /
                    tr
                        td PUT
                        td
                            a(href="#put") /{id}
                    tr
                        td DELETE
                        td
                            a(href="#delete") /{id}
        .pure-u-1.pure-u-lg-3-5
            h2 Structure
            table.pure-table.pure-table-bordered
                thead
                    tr
                        th Fieldname
                        th Fieldtype
                        th Validations
                tbody
                    tr
                        td id
                        td Long
                        td
                    tr
                        td version
                        td Integer
                        td
                    tr
                        td salutation
                        td String
                        td not empty
                    tr
                        td firstName
                        td String
                        td not empty
                    tr
                        td lastName
                        td String
                        td not empty
                    tr
                        td email
                        td String
                        td valid email
                    tr
                        td phone
                        td String
                        td
                    tr
                        td roles
                        td String
                        td
                    tr
                        td
                            a(href="api_overview.html#links") Links
                        td(colspan=2) Security
                    tr
                        td
                            a(href="companies.html") company
                        td(colspan=2) deletable, updateable by ROLE_SUPERVISOR

    h2#get_one GET /{id}
        a.back-to-top(href="#endpoints") &#9650;
    p Get a single contact person by its id.
    h4 Returns
    p One contact person

    hr

    h2#post POST /
        a.back-to-top(href="#endpoints") &#9650;
    p Create a new contact person. Returns the created object.
    .pure-g
        .pure-u-1.pure-u-md-1-2
            h4 Security
            p ROLE_SUPERVISOR
        .pure-u-1.pure-u-md-1-2
            h4 Returns
            p A single contact person.
    hr

    h2#put PUT /{id}
        a.back-to-top(href="#endpoints") &#9650;
    p Update the contact person identified by id. Returns the updated object.
    .pure-g
        .pure-u-1.pure-u-md-1-2
            h4 Security
            p ROLE_SUPERVISOR
        .pure-u-1.pure-u-md-1-2
            h4 Returns
            p A single contact person.

    hr

    h2#delete DELETE /{id}
        a.back-to-top(href="#endpoints") &#9650;
    p Delete a the contact person identified by id.
    .pure-g
        .pure-u-1.pure-u-md-1-2
            h4 Security
            p ROLE_SUPERVISOR
        .pure-u-1.pure-u-md-1-2
            h4 Returns
            p Nothing.